:root {
  --strong-orange: rgb(243, 126, 0);
  --med-strong-orange: rgb(249, 168, 81);
  --med-orange: rgb(247, 178, 105);
  --mid-orange: rgb(250, 213, 156);
  --strong-blue: rgb(2, 125, 208);
  --dark-strong-blue: rgb(85, 125, 165);
  --med-blue: rgb(152, 198, 235);
  --mid-blue: rgb(203, 226, 245);
  --light-blue: rgb(224, 237, 249);
  --mid-grey-blue: rgb(136, 178, 211);
  --dark-grey-blue: rgb(76, 99, 117);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
}

body {
  background-color: var(--mid-blue);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  float: left;
  clear: both;
  position: relative;
  padding: 2%;
}

.mission {
  width: 100%;
  position: sticky;
  margin: 0;
  padding: 1%;
  box-sizing: border-box;
}

.column {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  grid-template-columns: auto auto auto;
  padding: 0;
  margin: 0;
  align-items: stretch;
  flex-shrink: initial;
}

.input {
  width: 30%;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 2%;
  box-sizing: border-box;
  border: solid 1px var(--strong-orange);
}

.sidebar {
  width: 30%;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 2%;
  box-sizing: border-box;
  border: solid 1px var(--strong-orange);
}

.planet {
  z-index: 10;
  position: sticky;
  top: 0;
  left: 30.5%;
  width: 40%;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../../assets/mars-circle.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 0;
  padding-bottom: 100%;
}

.circle {
  background-image: url("../../assets/mars-circle.png");
}

.kite,
.rectangle {
  background-image: url("../../assets/mars-square.png");
}

.matrix {
  z-index: 100;
  width: 100%;
}

.grid-container {
  background-color: transparent;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  grid-template-columns: auto;
  padding: 0;
  margin: 0 auto;
  z-index: 100;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 0;
}

.grid-item {
  position: relative;
  background-repeat: no-repeat;
  height: 0;
  margin: 0;
  padding: 0;
  background-color: var(--mid-orange);
  opacity: 100%;
  text-align: center;
  border-radius: 50%;
}

.grid-circle-faded {
  opacity: 60%;
}

.info {
  float: left;
  clear: both;
  position: relative;
  width: 100%;
  font-size: 1.2em;
}

img.grid-robot {
  position: absolute;
  z-index: 1000;
  height: 0;
  margin: 0;
  padding: 0;
  top: 2%;
  left: 0%;
  width: 100%;
  background-image: url("../../assets/robot.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 100%;
}

/*animation*/
.move {
  background: transparent;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  position: sticky;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.move-right {
  animation-delay: 1s;
  animation-name: move-step-right;
}

.move-left {
  animation-delay: 1s;
  animation-name: move-step-left;
}

@keyframes move-step-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: translateX(-10%);
    opacity: 1;
  }
}

@keyframes move-step-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: translateX(-10%);
    opacity: 1;
  }
}
